body {
    background-color: gray;
    color: black;
}

table {
    text-align: center;
    color: black;
    background-color: khaki;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 7px;
    width: 200px;
    border-collapse: collapse;
}

table th:hover{
    background-color: sandybrown;
}
table td:hover{
    background-color: sandybrown;
}